* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

.header-fragancias {
  width: 100vw;
  height: 120px;
}

.titulo-fragancias {
  width: 100vw;
  background-color: rgb(2, 2, 2);
  font-size: 20px;
  color: rgb(251, 251, 252);
  padding: 10px;
  text-align: center;
}

.boton-buscar {
  background-color: #b6f0f0;
  font-size: 18px;
  padding: 10px 10px;
  width: 270px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button {
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.banner-fragancias {
  width: 100vw;
  height: auto;
}

.banner-fragancias img {
  width: 100vw;
  object-fit: contain;
}

.banner-fragancias h2 {
  width: 100vw;
  background-color: white;
  font-size: 30px;
  color: black;
  margin-top: 100px;
  text-align: center;
}

.cards-container {
  width: 100vw;
  height: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 350px;
  grid-gap: 10px;
  grid-column-start: 1;
  justify-self: center;
  justify-items: center;
  margin: 20px;
  margin-bottom: 10px;
}

.card {
  display: grid;
  background-color: rgb(250, 247, 249);
  width: 230px;
  height: 420px;
  border: 0.1px solid;
  border-color: rgb(223, 207, 219);
  box-shadow: 0 2px 2px rgb(72, 150, 153);
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 10px;
  justify-self: center;
}

.card:hover {
  transform: translateY(-14px);
  box-shadow: 0px 0px 6px rgb(72, 150, 153);
}

.card-fr img {
  width: 100%;
  height: 230px;
  margin-bottom: 5px;
  object-fit: contain;
}

.card-texto p {
  line-height: 1;
  padding: 7px;
  color: black;
}

.card-texto a {
  width: 180px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(72, 150, 153);
  display: inline-block;
  padding: 8px;
  border: 1.5px solid;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.card .card-texto a:hover {
  background-color: rgb(72, 150, 153);
  color: #eff3f2;
}

.carr-bienvenida {
  width: 100vw;
  height: auto;
  display: flex;
}

.imagen-bienvenida img {
  width: 100vw;
  height: auto;
}

.titulo-novedad-mes {
  width: 100vw;
  background-color: rgba(203, 207, 207, 0.63);
  font-size: 30px;
  color: rgb(88, 90, 90);
  padding: 4px;
  text-align: center;
  margin-top: 3px;
}

.producto-novedad-portada {
  width: 100vw;
  height: 400px;
  background-color: rgb(237, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-bottom: 3px;
}

.texto-novedad {
  overflow: visible;
  text-align: justify;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 600px;
  margin-left: 50px;
  margin-top: 20px;
  padding: 60px;
}

.novedad-titulo {
  padding: 15px;
  text-align: center;
}

h3 {
  padding: 10px;
}

.video-novedad {
  width: 500px;
  height: 400px;
  float: right;
  display: flex;
}

.contenedor-video {
  width: 100vw;
  height: auto;
}

.video-novedad1 {
  width: 90%;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  float: right;
  object-fit: contain;
}

.seccion-elegidos {
  width: 100vw;
  height: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.titulo-los-mas-elegidos {
  background-color: rgb(191, 194, 188);
  font-size: 30px;
  color: rgb(92, 99, 100);
  padding: 10px;
  text-align: center;
  width: 100vw;
}

.explora-nuestras-categorias {
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
}

.titulo-categorias {
  background-color: rgb(158, 221, 219);
  font-size: 30px;
  color: rgb(114, 134, 138);
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}

.banner-promo {
  width: auto;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.promo img {
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.boton-promo {
  background-color: rgb(219, 215, 212);
  width: 100vw;
  height: auto;
  margin-bottom: 10px;
}

.boton-promo a {
  height: auto;
  font-size: 1.5rem;
  font-weight: 10;
  text-decoration: none;
  color: rgb(107, 102, 100);
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Hachi Maru Pop", cursive;
}

.boton-promo a:hover {
  background-color: rgb(204, 161, 136);
  color: #faf7fc;
  cursor: pointer;
}

.promo-tarjetas img {
  width: 100vw;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (min-width: 375px) and (max-width: 660px) {
  .carr-bienvenida {
    width: 100vw;
    height: auto;
    display: flex;
  }
  .producto-novedad-portada {
    width: 100vw;
    height: 280px;
  }
  .video-novedad {
    width: 100vw;
    height: 280px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
  }
  .contenedor-video {
    width: 100vw;
    height: 280px;
  }
  .video-novedad1 {
    background-color: rgb(241, 240, 240);
    width: 100%;
    height: 280px;
    position: absolute;
    object-fit: fill;
  }
  .texto-novedad {
    visibility: hidden;
  }
  .img-novedad-mes {
    visibility: hidden;
  }
}
@media (min-width: 660px) and (max-width: 1190px) {
  h4 {
    visibility: hidden;
  }
}
.header {
  width: 100vw;
  height: 200px;
  background-color: #e4e7e7;
  display: inline-block;
  justify-content: baseline;
  align-items: baseline;
  margin: 0 auto;
}

.titulo-pagina {
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  letter-spacing: 0.7rem;
  text-align: center;
  font-size: 2.8rem;
}

.boton-buscar {
  background-color: rgb(214, 218, 218);
  font-size: 1rem;
  padding: 1px 1px;
  width: auto;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 10px;
  float: left;
  display: flex;
}

.button {
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.item-nav a:hover {
  background-color: rgba(193, 197, 197, 0.6705882353);
  transition: background-color 0.8s;
  padding: 1px 1px;
}

.iconos-header {
  float: right;
  color: rgb(128, 131, 131);
  cursor: pointer;
  margin-right: 80px;
  margin-top: 10px;
}

.iconos-header i {
  font-size: 20px;
  padding: 0 20px 0 20px;
}

@media (min-width: 375px) and (max-width: 660px) {
  .titulo-pagina {
    font-size: 1.5rem;
  }
  .iconos-header {
    float: right;
    color: rgb(128, 131, 131);
    cursor: pointer;
    margin-top: 30px;
  }
  .header {
    width: 100vw;
    height: 400px;
    background-color: #c7dddd;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
}
nav {
  float: center;
  width: 100vw;
}

.nav-bar {
  display: inline-flex;
  background-color: #d8dada;
  width: 100vw;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item-nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

@media (min-width: 375px) and (max-width: 660px) {
  .item-nav {
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: 0.4rem;
  }
  .boton-buscar {
    margin-top: 30px;
  }
  .nav-bar {
    display: column;
    flex-direction: column;
    background-color: #b8d1d1;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}
.contenedor-tarjetas {
  display: grid;
  width: 100vw;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  gap: 10px;
  grid-column-start: 1;
  margin: 20px;
  margin-bottom: 10px;
}

.tarjeta1 {
  background-color: rgb(202, 235, 226);
  width: 240px;
  height: 410px;
  border: 0.1px solid;
  border-color: rgb(221, 215, 215);
  box-shadow: 0 2px 2px rgba(27, 102, 86, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s ease;
  border-radius: 10px;
  justify-self: center;
}

.tarjeta1:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.contenedor-tarjetas .tarjeta1 img {
  width: 100%;
  height: 220px;
  object-fit: fill;
}

.contenedor-tarjetas .tarjeta1 h4 {
  font-weight: 600;
  margin: 50px;
}

.contenedor-tarjetas .tarjeta1 a {
  width: 180px;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(63, 116, 113);
  display: inline-block;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  transition: all 0.25s ease;
}

.contenedor-tarjetas .tarjeta1 a:hover {
  background-color: rgb(115, 224, 197);
  color: #eff3f2;
}

.explora-nuestras-categorias {
  width: 100vw;
  height: auto;
  background-color: rgb(201, 214, 214);
  font-size: 25px;
  color: rgb(63, 70, 68);
  text-align: center;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.contenedor-categorias {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr;
  grid-template-rows: min-content;
  margin: 20px;
}

.contenedor-categorias .categoria1 {
  width: 220px;
  height: 420px;
  border: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
  transition: all 0.25s ease;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-self: center;
}

.contenedor-categorias .categoria1:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 18px rgba(31, 32, 32, 0.4);
}

.contenedor-categorias .categoria1 img {
  width: 220px;
  height: 260px;
  object-fit: cover;
}

.contenedor-categorias .categoria1 h4 {
  font-size: 20px;
}

.contenedor-categorias .categoria1 a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(93, 168, 158);
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid;
  border-radius: 4px;
  transition: all 0.25s ease;
}

.contenedor-categorias .categoria1 a:hover {
  background-color: rgb(137, 141, 141);
  color: #f8f8f8;
}

@media (min-width: 400px) and (max-width: 768px) {
  .contenedor-tarjetas {
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .contenedor-tarjetas .tarjeta1 {
    width: 200px;
    height: 400px;
    margin-bottom: 20px;
  }
  .contenedor-tarjetas .tarjeta1 img {
    height: 200px;
    object-fit: cover;
  }
  .contenedor-tarjetas .tarjeta1 a {
    color: rgb(25, 58, 47);
    width: 180px;
    height: 40px;
    font-size: 1rem;
    margin: 10px;
  }
  .contenedor-tarjetas .tarjeta1 h4 {
    font-size: 1rem;
    margin: 40px;
  }
  .contenedor-categorias {
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .contenedor-categorias .categoria1 {
    width: 160px;
    height: auto;
    margin: 20px;
    justify-content: center;
    text-align: center;
  }
  .contenedor-categorias .categoria1 img {
    width: 100%;
    height: 160px;
    margin-bottom: 20px;
  }
  .contenedor-categorias .categoria1 h4 {
    font-weight: 10px;
    font-size: 0.8rem;
    margin: -10px;
  }
  .contenedor-categorias .categoria1 a {
    width: 100px;
    height: 25px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(15, 44, 6);
    display: inline-block;
    padding: 1px;
    margin-top: 45px;
    margin: 15px;
  }
}
.contenedor-footer {
  background-color: rgb(233, 231, 231);
  width: 100vw;
  height: 130px;
  margin-top: 10px;
}

.titulo-footer {
  color: rgb(75, 73, 73);
  display: flex;
  justify-content: center;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  color: black;
  padding: 20px;
  margin-bottom: 2px;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.redes-sociales i {
  font-size: 40px;
  padding: 0 20px 0 20px;
}

/*# sourceMappingURL=styles.css.map */
