.header {
  width: 100vw;
  height: 200px;
  background-color: #e4e7e7;
  display: inline-block;
  justify-content: baseline;
  align-items: baseline;
  margin: 0 auto;

}

.titulo-pagina {
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  letter-spacing: 0.7rem;
  text-align: center;
  font-size: 2.8rem;

}

.boton-buscar {
  background-color: rgb(214, 218, 218);
  font-size: 1rem;
  padding: 1px 1px;
  width: auto;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 10px;
  float: left;
  display: flex;
}

.button {
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

.item-nav a:hover {
  background-color: #c1c5c5ab;
  transition: background-color 0.8s;
  padding: 1px 1px;
}

.iconos-header {

  float: right;
  color: rgb(128, 131, 131);
  cursor: pointer;
  margin-right: 80px;
  margin-top: 10px;


}

.iconos-header i{
  font-size: 20px;
  padding:0 20px 0 20px;
}


@media (min-width:375px) and (max-width: 660px) {
  .titulo-pagina {
    font-size: 1.5rem;

  }
  .boton-buscar{
   
    margin-left: 10px;
  }

  .iconos-header {
    float: right;
    color: rgb(128, 131, 131);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .header {
    width: 100vw;
    height: 320px;
    background-color: #c7dddd;
    display: inline-block;
    justify-content: center;
    align-items: center;
    
    }


}