nav {
  float: center;
  width: 100vw;

}



.nav-bar {
  display: inline-flex;
  background-color: #d8dada;
  width: 100vw;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.item-nav {

  display: flex;
  flex-direction: row;
  padding: 10px;

}

.carousel-inner{
  margin-top: 10px;
}


@media (min-width: 375px) and (max-width: 660px) {

 
  

  .item-nav {
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: 0.4rem;

  }


  .boton-buscar {

    margin-top: 30px;

  }

  .nav-bar {
    display: column;
    flex-direction: column;
    background-color: #b8d1d1;
    width: 100vw;
    height:auto;
    align-items: center;
    justify-content: center;
  }

}




