.titulo-secundario h3{
    background-color: rgb(219, 217, 217);
    margin-top: 5px;
    padding: 30px;
 text-align: center;
    color: black;
}

.container-seccion-regalos {
width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.seccion-regalos img{
    width: 500px;
}

.container-seccion-regalos h2 {

    display: grid;
    width: 100vw;
    background-color: rgba(2, 2, 2, 0.979);
    font-size: 20px;
    color: rgb(251, 251, 252);
    padding: 30px;
    text-align: center;
    margin: 30px;

}
.img-gift-sets{
    display: flex;
   width: auto;
   height: auto;
 
   justify-content: center;
}

.regalos-personalizados {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
     gap:50px;
     align-items: center;
     text-align: center;
     justify-content: center;
     margin-top: 30px;
}

.regalo-personalizado {
    width: 200px;
    height: 250px;
    border-bottom: 10px solid #eba6df;
    background-color: rgb(228, 213, 236);
    padding: 15px;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    justify-self: center;
}



.regalo-personalizado p {
    font-size: 1.5rem;
}

.regalo-personalizado i{
    font-size: 4rem;
    margin-top: 38px;
}

.img-regalos-personalizados{
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
gap:50px;
display: inline-flex;
    flex-direction: row;
}





@media (min-width: 375px) and (max-width: 660px){




    .regalos-personalizados {
        display: grid;
        grid-template-columns:  1fr;
        
        
    }
    
    .regalo-personalizado {
        width: 280px;
        height: 250px;
        border-bottom: 20px solid #e96bd4;
        background-color: rgb(245, 204, 236);
      
    }
    .img-regalos-personalizados{
    display:flex;
    flex-direction: column;
}

.img-gift-sets{
    display: none;
    visibility: hidden;
    }

}