

.header-fragancias {

  width: 100vw;
  height: 120px;
}

.titulo-fragancias {
  width: 100vw;
  background-color: rgb(2, 2, 2);
  font-size: 20px;
  color: rgb(251, 251, 252);
  padding: 10px;
  text-align: center;

}

.boton-buscar {
  background-color: #b6f0f0;
  font-size: 18px;
  padding: 10px 10px;
  width: 270px;
  cursor: pointer;
  margin-bottom: 20px;

}

.button {
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

.banner-fragancias {
  width: 100vw;
  height: auto;

}

.banner-fragancias img {
  width: 100vw;
  object-fit: contain;
}

.banner-fragancias h2 {
  width: 100vw;
  background-color: white;
  font-size: 30px;
  color: black;
  margin-top: 100px;
  text-align: center;

}


.cards-container {
  width: 100vw;
  height: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 350px;
  grid-gap: 10px;
  grid-column-start: 1;
  justify-self: center;
  justify-items: center;
  margin: 20px;
  margin-bottom: 10px;
 }



.card {
  display: grid;
  background-color: rgb(250, 247, 249);
  width: 230px;
  height: 420px;
  border: 0.1px solid;
  border-color: rgb(223, 207, 219);
  box-shadow: 0 2px 2px rgb(72, 150, 153);
  overflow:hidden;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 10px;
  justify-self: center;
 


}

.card:hover {
  transform: translateY(-14px);
  box-shadow: 0px 0px 6px rgb(72, 150, 153);

}

.card-fr img {
  width: 100%;
  height: 230px;
  margin-bottom: 5px;
  object-fit: contain;
}


.card-texto p {
  line-height: 1;
  padding: 7px;

  color: black;
}

.card-texto a {
  width: 180px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(72, 150, 153);
  display: inline-block;
  padding: 8px;
  border: 1.5px solid;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.card .card-texto a:hover {
  background-color: rgb(72, 150, 153);
  color: #eff3f2;
}


