
  h1 {
  display:none;  
  visibility: hidden;
}
.carr-bienvenida{
    width: 100vw;
    height: auto;
    display: flex;
}
.imagen-bienvenida img {
    width: 100vw; 
    height: 100%;
    
}
.titulo-novedad-mes {
    width: 100vw;
    background-color:rgba(127, 255, 212, 0.63);
    font-size: 30px;
    color: rgb(114, 134, 138);
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}
.novedad-portada {
    width: 100vw;
    height: 350px;
    background-color:rgb(219, 235, 235);
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;

    margin-bottom: 10px;
}
.img-novedad-mes {
    display: flex;    
    height:300px;
    width: 300px;
    justify-content: center;
    text-align: center;
}
.img-novedad{
display: flex;    
height :100%;
width: 100%;
justify-content: center;
text-align: center;
}
.texto-novedad {
    overflow: hidden;
    text-align: justify;
    justify-content: center;
    height:320px;
    width: 316px;
   
}
.novedad-titulo{
text-align: center;
}
.video-novedad{
    width: 516px;
    height: 300px;
}
.contenedor-video {
   
    height:300px;
    width: 516px;
    position: flex;
    justify-content: center;
    align-items: center;
    }
.video-novedad1{
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}


.productos-portada {
    width: 100vw;
    background-color: rgb(205, 224, 196);
   height: auto;
}
.titulo-los-mas-elegidos{
     background-color: rgb(180, 192, 164);
     font-size: 30px;
     color:rgb(245, 249, 250);;
     padding: 10px;
     text-align: center;
     width: 100%;
    
}
.explora-nuestras-categorias{
   width: 100vw;
   height: auto; 
   
}
.titulo-categorias {
    background-color: rgb(158, 221, 219);
    font-size: 30px;
    color: rgb(114, 134, 138);
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    }



@media (min-width: 400px) and (max-width: 768px){
body{
    width: 100vw;
    height: 100vh;
    overflow:visible;
}
.carr-bienvenida{
    width: 100vw;
    height: auto;
    margin-bottom: -10px;


}
.video-novedad1{
    width: 100vw;
    height: 243px;
    margin-top: 28px;
    
}
.novedad-portada{
    width: 100vw;
    height: 250px;
    align-items: center;
    justify-content: center;



}
.img-novedad-mes{
    display: none;
}
.texto-novedad {
    visibility: hidden;
}
.img-novedad-mes{
    visibility: hidden;
}
}
@media (min-width: 769px) and (max-width: 1190px){
.img-novedad{
    visibility: hidden;
    display: none;

}
.texto-novedad{
    justify-content: center;
    text-align: center;
    margin-left: -400px;
}
}