.carr-bienvenida {
    
    width: 100vw;
    height: auto;
    display: flex;
}

.imagen-bienvenida img {
    width: 100vw;
    height: auto;

}

.titulo-novedad-mes {
    width: 100vw;
    background-color: rgba(203, 207, 207, 0.63);
    font-size: 30px;
    color: rgb(88, 90, 90);
    padding: 4px;
    text-align: center;
    margin-top: 3px;
}

.producto-novedad-portada {
    
    width: 100vw;
    height: 400px;
    background-color: rgb(237, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin-bottom: 3px;
}


.texto-novedad {
    overflow:visible;
    text-align: justify;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 60px;


}

.novedad-titulo {
    padding: 15px;
    text-align: center;
}

h3 {
    padding: 10px
}

.video-novedad {
    width: 500px;
    height: 400px;
    float: right;
    display: flex;
}

.contenedor-video{
width: 100vw;
height: auto;


}

.video-novedad1 {
    width: 90%;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    float: right;
    object-fit: contain;
}


.seccion-elegidos {
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
}




.titulo-los-mas-elegidos {
    background-color: rgb(191, 194, 188);
    font-size: 30px;
    color: rgb(92, 99, 100);
    padding: 10px;
    text-align: center;
    width: 100vw;

}

.explora-nuestras-categorias {
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;

}

.titulo-categorias {
    background-color: rgb(158, 221, 219);
    font-size: 30px;
    color: rgb(114, 134, 138);
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}
.banner-promo {

    width: auto;
    height: auto;
    display:block;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.promo img {
    width: 100vw;
    justify-content: center;
    align-items: center;
   

}


@media (min-width: 375px) and (max-width: 660px) {
    .carr-bienvenida {
    
    width: 100vw;
    height: auto;
    display: flex;
    }
    .producto-novedad-portada {
    
        width: 100vw;
        height: 280px;
        
    }
    


    .video-novedad {
        
        width: 100vw;
        height: 280px;
        align-items: center;
        justify-content: center;
        display: flex;
        position:absolute;
    }
    .contenedor-video{
        
        width: 100vw;
        height: 280px;
               
        }
    
.video-novedad1 {
    
    background-color: rgb(241, 240, 240);
    width: 100%;
    height: 280px;
  position:absolute;
  object-fit: fill;
  
 
}


.texto-novedad {
        visibility: hidden;
    }

    .img-novedad-mes {
        visibility: hidden;
    }
}

@media (min-width: 660px) and (max-width: 1190px) {
  
    h4{
        visibility: hidden;
    }

    
        
    
}