* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin:0;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Quicksand', sans-serif;
  }

  a {
    text-decoration: none;
    color: black;
  }
  ul,
  ol {
  list-style: none;
  
  }


  


  
 
